.venv/
venv/
backend/.venv/
backend/venv/

node_modules/
.env
backend/.env
backend/firebase-credentials.json

**/__pycache__/
*.py[cod]
*.pyc

backend/app/core/rag/chroma_db/
backend/app/core/rag/parent_docs/



echo ".venv/" >> .gitignore
echo "venv/" >> .gitignore
echo "__pycache__/" >> .gitignore
echo "*.pyc" >> .gitignore